@media screen and (min-width: 1024px) and (max-width: 1300px) {
  :root {
    font-size: 13px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  :root {
    font-size: 10px;
  }

  nav ul li a {
    font-size: 1.4rem;
  }

  .hero_img {
    height: 40rem;
  }
}

@media screen and (min-width: 576px) and (max-width: 1000px) {
  nav ul li a {
    font-size: 1.4rem;
  }

  :root {
    font-size: 7px;
  }
}

@media screen and (min-width: 425px) and (max-width: 576px) {
  .container {
    padding: 0 2rem;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  .nav_right {
    margin: 1.5rem 0;
  }
}
