* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

:root {
  --primary-txt-clr: #0b0223;
  --secondary-txt-clr: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  --btn-clr: #ff42a5;
  --logo-clr: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
}

.container {
  padding: 0 9rem;
}

.common_title {
  font-size: 2.5rem;
  font-weight: 600;
}

.common_description {
  color: #534c64;
  font-size: 1rem;
  font-weight: 500;
  line-height: 30px;
  padding: 1.8rem 0;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
}

.nav_left,
.nav_right {
  display: flex;
  align-items: center;
}

.website_title {
  text-align: center;
  font-size: 2.9rem;
  font-weight: 700;
  color: var(--primary-txt-clr);
}

.website_title span {
  color: #f948b2;
}

.nav_left img {
  height: 2rem;
  margin-right: 0.8rem;
}

.nav_right ul {
  display: flex;
  align-items: center;
}

.nav_right img {
  height: 0.8rem;
}

.nav_right ul li:last-child {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}

nav ul li {
  list-style: none;
  padding: 0.8rem 1.2rem;
}

nav ul li a {
  text-decoration: none;
  color: #0b0223;
  font-size: 1rem;
}

.hero_container {
  display: flex;
  justify-content: space-between;
}

.hero {
  background-image: url("/images/Group 14.png");
  width: 100%;
  background-size: cover;
  padding-left: 0;
}

.hero_left {
  background-image: url("/images/Group 14.png");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 0 4rem 9rem;
}

.hero_img {
  height: 33rem;
}

.hero_title {
  font-size: 4.5rem;
  font-weight: 800;
  margin: 1rem 0;
}

.hero_left ul li {
  display: flex;
  align-items: center;
  list-style: none;
  color: #534c64;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.7rem;
}

.hero_left ul li svg {
  margin-right: 10px;
  font-size: 1rem;
}

.hero_btn_container {
  display: flex;
  gap: 20px;
  margin: 3rem 0;
}

.btn_primary {
  color: #ffff;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0.8rem 1.8rem;
  background-color: var(--btn-clr);
  border-radius: 48px;
  border: none;
}

.btn_secondary {
  color: #ffff;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0.8rem 1.8rem;
  border-radius: 48px;
  background: #4ec5f7;
  border: none;
}

.online_games {
  text-align: center;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.games_video_container {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.games_poster {
  height: 18rem;
}

.video_card p {
  text-align: left;
}

.play_instantly {
  display: flex;
}

.img_down {
  height: 25rem;
}
.img_up {
  height: 15rem;
  position: relative;
  top: -175px;
  left: -90px;
}
.play_instantly_left {
  text-align: right;
}

.footer_nav1,
.footer_logoes {
  display: flex;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  justify-content: center;
  margin: 3rem 0;
}

.footer_logoes li i {
  font-size: 2rem;
}

.footer_nav1 ul li,
.footer_logoes ul li {
  list-style: none;
  margin-right: 2rem;
}
.footer_nav1 ul,
.footer_logoes ul,
.footer_nav2 ul {
  display: flex;
  justify-content: center;
}

.footer_title {
  color: #fff;
}

footer > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  /* padding-bottom: 17rem; */
}

footer {
  background-color: #0b0223;
  padding: 6rem 0;
}

.footer_nav2 {
  display: flex;
  justify-content: center;
}
.footer_nav2 ul li {
  color: rgba(255, 255, 255, 0.6);
  list-style: none;
  margin: 3rem 0;
  margin-right: 2rem;
}

.copyright {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

.partners {
  padding: 0 0 5rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.company {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  padding: 10px;
}

.company:hover {
  border: 1px solid tomato;
}

.company img {
  height: 40px;
}

.company p {
  color: #0b0223;
  font-size: 1rem;
  font-weight: 600;
}


